.left-menu{
    position: fixed;
    width: 260px;
    height: 100vh;
    background-color: #2C2C4D;
    display: flex;
    justify-content: center;
    border-radius: 0px 0px 16px 16px;
    
    flex-shrink: 0;
}
/* 控制About的左menu */
.left-menu ul{
    width: 100%;
    height: 260px;
    display: grid;
    align-items: center;
    padding: 0px 0px 0px 24px;
}

/* 共同的左menu */

.left-menu ul.about{
    grid-template-rows: repeat(5, 1fr);
}

/* 控制code的左menu*/
.left-menu ul.code{   
    grid-template-rows: repeat(6, 1fr);   
}

/* 控制Home的左menu */

.left-menu ul.home{
    grid-template-rows: repeat(4, 1fr);  
}

.left-menu ul li{
   font-size: 18px;
    color: azure;
    flex-grow: 0;
    padding: 8px 0px 0px 0px;
}

.left-menu ul li a{
   font-size: 23px;
    color: azure;
    flex-grow: 1;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 8px
}

.left-menu ul li a:hover{
    cursor: pointer;
    opacity: 0.5;
}

@media (max-width:1300px){
    .left-menu{
        display: none ;
       
    }
}